
<div>
  <nav class="navbar bg-primary justify-content-center" data-bs-theme="dark">
    <!-- Navbar content -->
    <div class="container">
      <span class="glyphicon glyphicon-th-list"></span>
      <a class="navbar-brand h1 mx-auto text-white fs-1" routerLink="SearchActivity">
        <i class="bi bi-binoculars"></i>&nbsp;Search Activity</a>

        

      <button class="btn btn-outline-light btn-primary ml-auto" routerLink="document">
        <i class="bi bi-file-code"></i>
        &nbsp;Document
      </button>
      <i class="fa-sharp fa-solid fa-face-hand-yawn"></i>
    </div>
  </nav>
</div>